<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Learning Ember JS <small>2.x</small></h1>
      <p class="lead">MVC for learning Ember.js, a JavaScript framework for client-side application development.</p>
      {{outlet}}
    </div>
  </div>
</div>
